.sidebarWrapper {
    /* z-index: 5; */
    padding: 12px;
    background-color: #4C304F;
    height: 100%;
    width: 100px;
    left: -1%;
    top: 0;
    /* position: fixed; */
    transition: 0.5s ease;
    width: 180px;
    height: 956px;
}

.menuWrapper  {
    text-decoration: none;
    padding: 2px;
    list-style: none;
    color : #D4D8DB;
}

.menu {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px 0;
}