.chartWrapper {
    margin-left: 0px;
    margin-right: 0px; 
    height: 800px; 
    width: 800px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.chartContent {
    padding-top: 0;
    border-radius: 0.75rem; 
    border-width: 1px; 
    border-color: #9CA3AF; 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); 
}
