.chartWrapper {
    margin-left: 0px;
    margin-right: 0px; 
    height: 800px; 
    width: 1000px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    /* display: flex; */
    /* background-color: #FFFFFF; */
}
.chartTitle {
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding-bottom: 7px;
}

.chartContent {
    padding-top: 0;
    border-radius: 0.75rem; 
    border-width: 1px; 
    border-color: #9CA3AF; 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); 

}

.chartWrapper button{
    background-color: #D4D8DB;
    color: #4C304F;
    border: none;
    list-style: none;
    margin: 15px 0;
    font-weight: 500;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 43px;
    border-radius: 20px;
    display: flex;
    margin-right: 5px;
}

.chartWrapper input {
    width: 120px;
    height: 20px;
    border-radius: 20px;
    background-color: #D4D8DB;
    border: none;
}

.chartWrapper p {
    padding : 0 5px;
    /* padding-bottom: 7px; */
    color: black;
}

.chartWrapper span {
    width: 50px;
    height: 20px;
}

.chartWrapper span button {
    background-color: #E0C798;
}

.lineChartData {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    width: 500px;
}