.header {
    width: 100%;
    background-color: #56565B;
}

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: #E0C798;
    padding: 5px 0;
}

.header li {
    list-style: none;
}

.header li:first-child {
    margin-left: 1rem;
}

.header li:nth-child(2) {
    margin-right: 54rem;
}

.header span {
    width: 129px;
    height: 40px;
    background-color: #E0C798;
    color: #4C304F;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 1rem;
}

.name {
    color: white;
    font-size: 20px;
    padding-left: 480px;
}