.pageWrapper {
    display: flex;
    height: 100%;
    background-color: #56565B;
}

.sidebarRight {
    width: 2080px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    height: 100%;
}
.orderListBody td {
    font-size: 12px;
    border: 1px solid #444444;
    padding: 3px 3px;
}

.orderListHead th {
    font-size: 12px;
    border: 1px solid #444444;
    background-color: #4C304F;
    color: white;
}
.orderListTable {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    background-color: white;
}

.number {
    text-align: right;
}


li.active {
    background-color: #4C304F;
    color: white;
    font-weight: bold;
}

li.deactive {
    background-color: #D4D8DB;
    color: #4C304F;
    font-weight: bold;
}

.storeListWrapper {
    width: 100%;
    height: 60px;
    /* background-color: #56565B; */
    background-color: white;
    color: #989DA1;
    align-items: center;
    border-radius: 14px;
    margin-top: 20px;
    margin-left: 12px;
    /* margin-bottom: 37px; */
}

.storeListWrapper ul {
    display: flex;
    font-size: 13px;
    /* justify-content: center;
    align-items: center; */
    padding-left: 10px;

}

.storeListWrapper ul li {
    list-style: none;
    /* margin: 15px 0; */
    margin-top: 10px;
    /* font-weight: 500; */
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 43px;
    display: flex;
    border-radius: 20px;
    margin-right: 5px;
    
}


.termListWrapper {
    width: 100%;
    height: 70px;
    /* background-color: #56565B; */
    background-color: white;
    color: #989DA1;
    align-items: center;
    border-radius: 14px;
    margin-top: 20px;
    margin-left: 12px;
}

.termListWrapper ul {
    display: flex;
    font-size: 23px;
    /* justify-content: center;
    align-items: center; */
    padding-left: 10px;
}

.termListWrapper ul li {
    list-style: none;
    margin: 15px 0;
    font-weight: 500;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 43px;
    border-radius: 20px;
    display: flex;
    margin-right: 5px;
}
.cancelBtnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancelBtn {
    background-color: #E0C798;
    color: #4C304F;
    text-align: center;
    width: 30px;
    /* margin-left: 20px; */
    margin-right: 0px;
    border-right: 0px;
    border-radius: 20px;
}

.middleWrapper {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.settlementDataListTitle {
    font-size: 20px;
    color: white;
}

.cancelBarcodeBtn {
    background-color: #E0C798;
    color: #4C304F;
    text-align: center;
    border-radius: 20px;
    width: 100px;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
}

.barcodeInputBox {
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    transform: translate(-100%, -100%);
}

.startDateInputLabel {
    font-size: 14px;
    /* width: 200px; */
    color: black;
    padding-top: 40px;
} 

.calendarInputBoxWrapper {
    display: flex;
    /* justify-content: space-between; */
}

.calendarStartDateInputBox {
    margin-left: 20px;
    padding-left: 150px;
    /* padding-right: 20px; */
    /* margin-right: 10px; */
    /* padding-right: 10px; */
}

.calendarEndDateInputBox {
    /* margin-left: 20px; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* margin-right: 10px; */
}

.calendarCenter {
    margin-left: 40px;
    margin-right: 0px;
    padding: 0px;
}

.calendarIcon {
    margin-bottom: 5px;
}

.pageNumListWrapper {
    display: flex;
    margin-left: 280px;
}

.pageNumListWrapper ul {
    display: flex;
    font-size: 13px;
    /* justify-content: center;
    align-items: center; */
    /* padding-left: 10px; */

}

.pageNumListWrapper ul li {
    list-style: none;
    /* margin: 15px 0; */
    margin-top: 10px;
    /* font-weight: 500; */
    /* justify-content: center;
    align-items: center; */
    width: 30px;
    height: 20px;
    display: flex;
    /* margin-right: 5px; */
    color: white
    
}