.loginBoxWrapper {
    background-color: #D4D8DB;
    width: 600px;
    height: 600px;
    border-radius: 30px;
    /* padding: 25px; */
    /* padding-left: 245px; */
    position: relative;
    z-index: 1800;
    box-sizing: border-box;
    /* transform: translate(20%, 20%); */
    border: 0px solid;
    transform: translate(20%, 20%);
}

.adminNumberWrapper {
    /* position: absolute;
    top: 0;
    width: 756px;
    height: 900px;
    border-radius: 30px;
    /* z-index: 2000; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background: center; */
    /* padding-top: 200px; */
    /* background-color: #D4D8DB;
    padding-left: 70px; */
    
}

.passwordWrapper {

}