.csvDownloadBtn {
    background-color: #E0C798;
    color: #4C304F;
    text-align: center;
    width: 30px;
    /* margin-left: 20px; */
    margin-right: 0px;
    border-right: 0px;
    border-radius: 20px;
}

.csvDownloadingBtn {
    background-color: #E0C798;
    color: #4C304F;
    text-align: center;
    width: 80px;
    /* margin-left: 20px; */
    margin-right: 0px;
    border-right: 0px;
    border-radius: 20px;
}